/* ===========================================================================
 * Licensed Materials - Property of IBM
 *
 * (C) Copyright IBM Corp. 2000 All Rights Reserved.
 *
 *  US Government Users Restricted Rights - Use, duplication or
 *  disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 * ===========================================================================
 */

/**
 ** CodeSource-based policy file for JAAS HelloWorld 
 **/
grant {
   permission javax.security.auth.AuthPermission "createLoginContext.JaasSample";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
};
/** 
 **	User-Based Access Control Policy for the SampleAction class
 ** instantiated by JaasAzn 
 **/
grant Principal javax.security.auth.kerberos.KerberosPrincipal "your_user_name@your_realm" {
   permission java.util.PropertyPermission "java.home", "read";
   permission java.util.PropertyPermission "user.home", "read";
   permission java.io.FilePermission "foo.txt", "read";
};